parameters:
    level: 5
    phpVersion: 80100
    # The Auth interface documents string parameters but core passes null
    # (see Tracker\Request), so PHPDoc types are not certain here.
    treatPhpDocTypesAsCertain: false
    tmpDir: /tmp/phpstan/Oauth2/main
    paths:
        - .
    excludePaths:
        - tests/*
        - github-action-tests/ (?)
        - scoper.inc.php
        - vendor
        - Activity/*
    bootstrapFiles:
        - phpstan/bootstrap.php
    stubFiles:
        - phpstan/stubs.php
    universalObjectCratesClasses:
        - Piwik\Config
        - Piwik\View
        - Piwik\ViewDataTable\Config
    scanDirectories:
        # ../../ does not actually seem to give us anything
        # that ../plugins/ does not, but including it for
        # completeness.  It does not seem to slow down performance.
        - .
